.main-content {
    background:  #232323;
    padding: 30px 400px 150px 350px; /* Padding for content */
}
#title {
    margin-bottom: 0;
}
#name {
    color: rgb(157, 157, 157);
    margin-top: 0; 
}

.underline-link {
    text-decoration: underline;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column; /* Stack content vertically */
        padding: 30px 40px 40px 40px; /* Padding for content */
        padding-bottom: 600px; /* Increase bottom padding */
        animation: gradient 7s ease infinite; /* Faster gradient animation */
    }
}
