
/* Container for the left panel and main content */
.container {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

/* Styling for the main content area */
.main-content {
    flex-grow: 1;
    padding-left: 60px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 40px;
    overflow-y: auto; /* Allow scrolling within the left panel if needed */

}


/* Media query for mobile screens */
@media (max-width: 768px) {
    
    .main-content {
        flex-direction: column; /* Stack items vertically */
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    
    @keyframes gradient-mobile {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

