.container {
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
}

.main-content {
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    
}

.school-content {
    animation: typing 2s steps(30, end) forwards;
    width: 80%; /* Width as a percentage of the parent container */
    max-width: 800px; /* Limits the maximum width */
    text-align: left; /* Align text to the left within the element */
    margin: 0 auto; /* Center horizontally */
    box-sizing: border-box; /* Includes padding in width calculation */
    
}


@keyframes typing {
    from {width: 0}
    to {width: 100%}
}


.bu-logo-container {
    text-align: center; 
}

.bu-logo-container img {
    max-width: 150px;
    width: auto;
    height: auto;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    
    .main-content {
        flex-direction: column; /* Stack items vertically */
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }

}

