.article p {
    color: grey;
    margin: 0;  /* Remove extra space between paragraphs */
}

/* Styling for the main content area */
.main-content {
    flex: 1; /* Ensure main content takes up remaining space */
    padding: 30px 200px 150px 150px; /* Padding for content */
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column; /* Stack content vertically */
        padding: 30px 40px 40px 40px; /* Padding for content */
        animation: gradient 7s ease infinite; /* Faster gradient animation */
    }
}
