<footer id="footer">
    <div>
        <a href="mailto:chiccino@bu.edu" class="fa fa-envelope"></a>
    </div>
    <div>
        <a href="https://www.linkedin.com/in/matthew-chiccino-935848290/" class="fa fa-linkedin" target="_blank"></a>
    </div>
    <div>
        <a href="https://github.com/matthewchiccino" class="fa fa-github" target="_blank"></a>
    </div>
    <div>
        <a href="https://www.instagram.com/matthewchiccino/" class="fa fa-instagram" target="_blank"></a>
    </div>
</footer>
